h1 {
  font-size: xx-large;
  font-weight: bold;
}

.projects {
  color: chocolate;
}

.shout {
  font-size: large;
}

.card {
  border-style: groove;
  background-color: cornsilk;
  margin: 2px;
  max-width: 50%;
  float: leftt;
}

.bio {
  border-style: outset;
  padding: 1%;
  margin: 1%;
  background-color: aliceblue;
}

.pic {
  border-style: outset;
  float: right;
  height: 400px;
  
}